<html>
    <head>
        <style>
        body { 
            background: black;
        }
        .responsive{
            max-width 400px;
            width: 100%;
            height: auto;
        }
        a {
            color: red;
        }
        </style>
    </head>
    <body>
    <hr>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <%= image_tag("gow/logo", class:"responsive")%>
        </div>
        <div class="col">
        </div>
  </div>
  <hr>
    <hr>
    <div class="row">
        <div class="col">
            <%= image_tag("gow/gow_1.0", class:"responsive")%>
        </div>
        <div class="col">
            <p style="color:red">
                The goddess Athena tasks Kratos with killing Ares, 
                the God of War and Kratos' 
                former mentor who tricked Kratos into killing his wife and daughter. 
                As Ares besieges Athens out of hatred for Athena,
                Kratos embarks on a quest to find the one object capable of stopping the god once and for all: Pandora's Box. 
            </p>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/s0DGtgjwkLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
  <hr>
  <div class="row">
        <div class="col">
            <%= image_tag("gow/god-of-war-story-so-far-plot-spoilers-slim_1200x500.jpg", class:"responsive")%>
        </div>
        <div class="col">
            <p style="color:red">
            God of War II takes place shortly after the events of God of War: 
            Ghost of Sparta, but over 13 years after the events of God of War; 
            Kratos, after defeating Ares, has become the new God of War,
            but unfortunately has not been accepted by the other Gods due to his ruthless treatment of the other Greek city-states.
            </p>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/_LiIlRuxON8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
  <hr>
  <div class="row">
        <div class="col">
            <%= image_tag("gow/god-of-war-iii-remastered-screen-21-ps4-us-16jun15.jpeg", class:"responsive")%>
        </div>
        <div class="col">
            <p style="color:red">
            God of War III opens on the same moment its predecessor ended.
            As Kratos and his Titan allies scale Mount Olympus, Poseidon, god of the sea, 
            comes forward to stop them. Kratos kills him with some timely assists from Gaia, 
            flooding all of Greece in the process.
            </p>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/YbQGxShQ7ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
    <hr>
    <div class="row">
        <div class="col">
            <%= image_tag("gow/gow_fighting_a_giant.jpg", class:"responsive")%>
        </div>
        <div class="col">
            <p style="color:red">
                Many years after Kratos' defeat of the Olympian gods,
                he now lives with his son Atreus in ancient Norway in the realm of Midgard. ... 
                After they leave, Kratos and Atreus confront Mímir, who reveals that their goal is in Jötunheim, 
                but travel there has been blocked to keep out Odin and Thor.
            </p>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/vlX1AyaxlCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
   
    </body>
    <footer>
    <iframe width="10" height="10" src="https://www.youtube.com/embed/rOmHpI0MMKE" autoplay=autoplay;></iframe>
    </footer> 
</html>
