<html>
    <head>
        <style>
        body { 
            background: #6c7a86;
        }
        .responsive{
            max-width 400px;
            width: 100%;
            height: auto;
        }
        a {
            color: red;
        }
        </style>
    </head>
    <body>
        <hr>
        <div class="row">
            <div class="col"> 
            </div>

            <div class="col">
                <%= image_tag("warframe/logo", class:"responsive")%>
            </div>

            <div class="col">
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col"> 
                <p>
                    They were called Tenno. 
                    Warriors of blade and gun: masters of the Warframe armor.
                    Those that survived the old war were left drifting among the ruins. 
                    Now they are needed once more.
                </p>
            </div>

            <div class="col">
                <p>
                    The Grineer, with their vast armies, are spreading throughout the solar system.
                    A call echoes across the stars summoning the Tenno to an ancient place.
                    They summon you.
                </p>
            </div>

            <div class="col">
                <p>
                    Allow the Lotus to guide you. 
                    She has rescued you from your cryostasis chamber and given you a chance to survive. 
                    The Grineer will find you; you must be prepared. 
                    The Lotus will teach you the ways of the Warframes and the secrets to unlocking their powers.
                </p>
            </div>

        <hr>
        </div>
        <div class="row">
            <div class="col"> 
            </div>

            <div class="col">
            <p>Come Tenno, you must join the war.</p>
            </div>

            <div class="col">
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/Snjq9guEQeU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col"> 
            </div>

            <div class="col">
            <h1>Factions</h1>
            </div>

            <div class="col">
            </div>

        </div>
        <hr>
        <h2>Tenno</h2>
        <div class="row">
            <div class="col"> 
                <%= image_tag("warframe/TennoFactionNewLook.png", class:"responsive")%>
            </div>

            <div class="col">
            <p>
                They were called Tenno. 
                Warriors of blade and gun: masters of the Warframe armor. 
                Those that survived the old war were left drifting among the ruins. 
                Now they are needed once more
            </p>
            </div>

        </div>
        <hr>
        <h2>Grineer</h2>
        <div class="row">
            <div class="col"> 
                <%= image_tag("warframe/GrineerFactionNewLook.png", class:"responsive")%>
            </div>

            <div class="col">
            <p>
                They say there is power in numbers - the Grineer are living proof. 
                Wretched from centuries of cloning that has left their genetics in decay, 
                this horde expands their vile empire through brute force, 
                conquering anyone who tries to stop them.
            </p>
            </div>

        </div>
        <hr>
        <h2>Corpus</h2>
        <div class="row">
            <div class="col"> 
                <%= image_tag("warframe/CorpusFactionNewLook.png", class:"responsive")%>
            </div>

            <div class="col">
            <p>
                The Corpus embody the cold vacuum of space - heartless and bent on taking anything left unprotected.
                Driven by profits, the Corpus Board’s small numbers are supplemented by their legion of robot proxies, 
                optimized for quick and efficient destruction.
            </p>
            </div>

        </div>
        <hr>
        <h2>Infested</h2>
        <div class="row">
            <div class="col"> 
                <%= image_tag("warframe/Infestation_Diorama.png", class:"responsive")%>
            </div>

            <div class="col">
            <p>
                The Infestation is more than a disease - it is a horror of twisted flesh,
                monsters made into reality. The blight consumes its victims, 
                transforming them into unrecognizable atrocities controlled by rabid impulse.
                <br><br>
                The Infested are a single-minded scourge that belongs in the realm of nightmares, 
                but instead chooses to invade ships and colonies, 
                leaving only death and destruction in its wake.
            </p>
            </div>

        </div>
        <hr>
    </body>

    <footer>
    <iframe width="10" height="10" src="https://www.youtube.com/embed/mPTCq3LiZSE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </footer>

</htlm>