<h1>Welcome to the Profile Page!</h1>

<h2>Signed in as: <%= @current_user.username %> </h2>

<hr/>
<%= form_for @current_user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br/>
    <%= f.label :password %>
    <%= f.password_field :password %><br/>
    <%= f.select :favorite_game, ["God of War","League of Legends","Warframe"], prompt: "Choose your background"%><br/>
    <%= f.submit "Submit" %>
  <% end %>